* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.app-container {
    padding: 40px 0;
    min-height: 100vh;
    justify-content: center;
    background-color: #91f8ff;
    display: flex;
}

.todo-box {
    width: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 3px #212833c4;
    overflow: hidden;
}

.todo-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    background-image: url("../images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
}

.todo-header-shadow {
    position: absolute;
    //todo
}

.todo-header-icon {
    font-size: 20px;
}

.todo-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-header-head {
    font-size: 38px;
}

.todo-header-counter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 300;
}

.todo-counter {
    font-size: 28px;
}

.todo-list-box {
    height: 60%;
    padding: 15px;
}

.todo-list-header {
    font-size: 20px;
    color: #4447;

}